@import url("https://fonts.googleapis.com/css2?family=Muli&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Muli", sans-serif;
}


#header .animated{
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}
#header .brand-name{
  color: #3498db;
}
.logo{
  
  width: 180px;

}
.para{
  text-align: justify;
}
@-webkit-keyframes up-down{
  0%{
    transform: translateY(10px);
  }
  100%{
    transform: translateY(-10px);
  }
}

@keyframes up-down{
  0%{
    transform: translateY(10px);
  }
  100%{
    transform: translateY(-10px);
  }
}



